.dropdown {
    width: 100%;
}

.card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 5px;
    gap: 8px;
    background: rgba(7, 15, 33, 0.04);
    border-radius: 8px;
    height: max-content;
    position: relative;
    max-width: 220px;
}

.title {
    font-weight: 600;
    font-size: 14px;
    color: #070F21;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 56px;
    height: 20px;
}

.icn {
    opacity: 0.5;
    margin-top: 3px;
}

.icn2 {
    margin-top: 5px;
    opacity: 0.3;
}

.card_no {
    opacity: 0.5;
    font-size: 10px;
    margin-top: 3px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
}

.content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;

}

.card_sub {
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 470px;
}

.card_sub::-webkit-scrollbar {
    width: 8px;
    margin-left: 3px;
}

.card_sub::-webkit-scrollbar-track {
    background: #FFFFFF;
    height: 10px;

}

.card_sub::-webkit-scrollbar-thumb {
    background: #abaeb5;
    opacity: 0.2;
    border-radius: 34px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.add_btn {
    width: 200px;
    height: 34px;
    background: rgba(7, 15, 33, 0.04);
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 6px;
    cursor: pointer;
}

.btn_txt {
    color: #0E8CFF;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.btn_icon {
    color: #0E8CFF;
    margin-right: 5px;
}

.add_card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
    width: 216px;
    border-top: 1px solid #0E8CFF;
    position: relative;
}

.add_card_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 216px;
}

.add_card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.add_card_body_input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 8px;
}

.textfield {
    background: #FFFFFF;
    width: 200px;
    height: 57px;
    border: 1px solid #0E8CFF;
    border-radius: 8px;
}

.textfield:focus {
    outline: none;
    border: 1px solid #0E8CFF;

}

.close_icn {
    cursor: pointer;
}

.new_add {
    padding: 7px 12px;
    gap: 4px;
    width: 53px;
    height: 34px;
    background: #0E8CFF;
    border-radius: 6px;
    border: 0;
    color: #FFFFFF;
}

@media only screen and (max-width:550px) {
    .card_container {
        max-width: 220px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}