.outer_circle {
    background: #385a94;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.inner_circle {
    position: relative;
    background: #0E8CFF;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    margin: -14px 10px 0px 17px
}

.inner_image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.inside_content {
    color: #FFFFFF;
    width: 7px;
    height: 11px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 11px;
    margin-left: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
}