.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.modal_content {
    width: 492px;
    height: 248px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.close {
    cursor: pointer;
    opacity: 0.7;
}

.content {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #070F21;
    opacity: 0.8;

}

.modal_header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.modal_footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    gap: 10px;
}


.modal_title {
    margin: 0;
}

.modal_body {
    padding: 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.delete_button {
    width: 89px;
    height: 44px;
    background: #E74926;
    border-radius: 8px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
}

.button {
    width: 89px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 8px;
    border: 1px solid rgba(7, 15, 33, 0.05);
    cursor: pointer;
}

.save_modal_content {
    width: 492px;
    height: 364px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.save_modal_body {
    padding: 10px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
}

.color_picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 6px;
    width: 100%;
    height: 35px;
}

.in {
    border: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;
    opacity: 0.6;
}

.in:focus {
    outline: none;
}

.btn {
    border: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    flex-direction: row;

}

.clr {
    border: 0;
    height: 33px;
}


.chevron {
    margin-top: 7px;
    opacity: 0.6;
}

@media only screen and (max-width:550px) {
    .modal_content {
        width: 350px;
        height: 248px;
        background-color: #FFFFFF;
        border-radius: 6px;

    }
}