.search_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 0px 10px 12px;
    gap: 8px;
    border: 1px solid rgba(7, 15, 33, 0.1);
    border-radius: 8px;
}

.inner_search_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.search_field {
    border: 0;
    width: 600px;
}

.search_field:focus {
    outline: none;
}

@media only screen and (max-width:550px) {
    .search_container {
        width: 268px;
    }

    .search_field {
        width: 225px;
    }
}